<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://88.99.96.121:9090</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://88.99.96.121</MSDeployServiceURL>
    <DeployIisAppPath>KZ</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Office\Администратор</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MetaModel" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ValmiStore.Model.DataLayer.MetaModel, ValmiStore.Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WebmallEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ValmiStore.Model.DataLayer.WebmallEntities, ValmiStore.Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="valmiEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=testserver;Initial Catalog=AutoMall;Persist Security Info=True;User ID=webmall;Password=h79A33w;Application Name=Automall" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\valmiEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataLayer.ValmiModel.csdl|res://*/DataLayer.ValmiModel.ssdl|res://*/DataLayer.ValmiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=testserver;Initial Catalog=AutoMall;Persist Security Info=True;User ID=webmall;Password=h79A33w;MultipleActiveResultSets=True;App=Automall&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlLocalDB" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="User Id=WebShop;PASSWORD=ws12~90;Initial Catalog=WebShopDB_KZ;Data Source=testserver; Pooling=true; Min Pool Size=5; Max Pool Size=10; Application Name=VALMI" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlLocalDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User Id=WebShop;PASSWORD=ws12~90;Initial Catalog=WebShopDB_KZ;Data Source=testserver; Pooling=true; Min Pool Size=5; Max Pool Size=10; Application Name=VALMI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Images" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=testserver;Initial Catalog=AutoMall;Persist Security Info=True;User ID=webmall;Password=h79A33w;Application Name=Automall" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Images_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataLayer.ValmiModel.csdl|res://*/DataLayer.ValmiModel.ssdl|res://*/DataLayer.ValmiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=testserver;Initial Catalog=AutoMall;Persist Security Info=True;User ID=webmall;Password=h79A33w;MultipleActiveResultSets=True;App=Automall&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MetaModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebmallEntities-Web.config Connection String" />
  </ItemGroup>
</Project>