@using ViewRes
@*<a class="brand-catalogs" href="@Url.Action("Index", "OriginalCatalog")">
    <svg class="icon icon-phone-book brand-catalogs__icon">
        <use href="~/assets/images/svg/symbol/sprite.svg#phone-book"></use>
    </svg><span class="brand-catalogs__title">@SharedResources.Catalogs</span>
</a>*@

<div class="header__meta-link d-none d-md-block">
    <a class="brand-catalogs header-meta-area__brand-catalogs" href="@Url.Action("Index", "OriginalCatalog")">
        <svg class="icon icon-warehouse brand-catalogs__icon">
            <use href="~/assets/images/svg/symbol/sprite.svg#warehouse"></use>
        </svg>
    </a>
</div>