@model Webmall.UI.Models.Catalog.CatalogWaresModel

<div class="catalog__bottom">
    @{Html.RenderPartial("CatalogBottomControlsMob", Model); }
    @{Html.RenderPartial("CatalogBottomControls", Model); }
</div>
