@model Webmall.UI.Models.Catalog.CatalogWaresModel

<div class="catalog__header">
    @{Html.RenderPartial("CatalogHeaderControls", Model); }
    @{Html.RenderPartial("CatalogHeaderControlsMob", Model); }
</div>
