@using ViewRes

@model Webmall.UI.ViewModel.Catalog.CatalogViewModel
@{
    Layout = "~/Views/Shared/_Inner.cshtml";

    var waresModel = Model.WaresCatalog;
    var showWaresList = Model.WaresCatalog?.Wares.List?.Any() == true;
    var filter = Model.CatalogFilterViewModel;
    filter.ShowSearchFilter = true;
}

@if (showWaresList)
{
    @section BreadCrumbs{
        @{Html.RenderPartial("Components/BreadCrumbsRender", Model.BreadCrumbs);}
    }

    @section FilterBadges{
        @{Html.RenderPartial("Components/FilterBadges", filter);}
    }

    @section ViewModes{
        @{Html.RenderPartial("Components/ViewModes");}
    }

    @section Sidebar{
        <aside class="catalog-layout__aside">
            @{
                Html.RenderPartial("CatalogFilter", filter);
            }
        </aside>
    }

    Html.RenderPartial("Catalog", waresModel);
}
else
{
    <div class="image-message">
        <img src="@Url.Content("~/Content/images/search-void.png")" width="172" height="178" alt="@SharedResources.Search">
    </div>
    <div id="message">
        <p>@SharedResources.NoData</p>
        @Html.Raw(SharedResources.NothingFound2Message)
    </div>
}

@section scripts
{
    @{Html.RenderPartial("_WareListScripts");}
    @*@{Html.RenderPartial("_WareListScriptsEx", Model.WaresCatalog);}*@
    @{Html.RenderPartial("GridViewFooterScripts", waresModel.Wares);}
    @*@if (filterOptions != null)*@
    @{
        Html.RenderPartial("_FilterScripts", Model.CatalogFilterViewModel);
    }
}
