<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Laximo.Guayaquil.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="SqlLocalDB" connectionString="User Id=Webshop;PASSWORD=Webmall121;Initial Catalog=WebshopStore_Tanauto;Data Source=88.99.96.121; Pooling=true; Min Pool Size=5; Max Pool Size=10; Application Name=Webmall" />-->
    <!--<add name="WebmallDbContext" connectionString="metadata=res://*/DataLayer.WebShopModel.csdl|res://*/DataLayer.WebShopModel.ssdl|res://*/DataLayer.WebShopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=88.99.96.121;initial catalog=WebshopStore_AutonovaD;persist security info=True;user id=Webshop;password=Webmall121;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ProductDatabase" connectionString="data source=213.133.99.169;initial catalog=PRODUCT;user id=webbuilder;password=bldr357@WB;MultipleActiveResultSets=True;App=WebmallCore2" providerName="System.Data.SqlClient" />
    <add name="WebmallDbContext" connectionString="data source=88.99.96.121;initial catalog=WebshopStore_Motex;persist security info=True;user id=Webshop;password=Webmall121;multipleactiveresultsets=True;App=WebmallCore2" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <!--<Laximo.Guayaquil.Data.Properties.Settings>
      <setting name="Laximo_Guayaquil_Data_net_laximo_ws_Catalog" serializeAs="String">
        <value>https://oem-api.yqservice.eu/ec.Kito.WebCatalog/services/Catalog.CatalogHttpSoap11Endpoint/</value>
      </setting>
      <setting name="Laximo_Guayaquil_Data_net_laximo_ws_aftermarket_Aftermarket" serializeAs="String">
        <value>https://am-api.yqservice.eu/ec.Kito.WebCatalog/services/Catalog.CatalogHttpSoap11Endpoint/</value>
      </setting>
    </Laximo.Guayaquil.Data.Properties.Settings>-->
    <Laximo.Guayaquil.Data.Properties.Settings>
      <setting name="Laximo_Guayaquil_Data_net_laximo_ws_Catalog" serializeAs="String">
        <value>https://ws.laximo.net/ec.Kito.WebCatalog/services/Catalog.CatalogHttpSoap11Endpoint/</value>
      </setting>
      <setting name="Laximo_Guayaquil_Data_net_laximo_ws_aftermarket_Aftermarket" serializeAs="String">
        <value>https://aws.laximo.net/ec.Kito.WebCatalog/services/Catalog.CatalogHttpSoap11Endpoint/</value>
      </setting>
    </Laximo.Guayaquil.Data.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!-- Verified settings -->
    <!-- Отключает кэширование для сайта (для отладки) -->
    <add key="CacheOff" value="false" />
    <!-- Время таймаута тикета для FormAuthentication (в часах) -->
    <add key="AuthTicketExpiration" value="24" />
    <!-- Squidex config-->
    <add key="SquidexUrl" value="http://88.99.96.122:8009/" />
    <add key="SquidexAppName" value="motex" />
    <add key="SquidexSchemaClientId" value="motex:default" />
    <add key="SquidexSchemaClientSecret" value="tvn8b2eu0xaeazydtr10gvdxx6hrim1eqoej23gcrlyx" />
    <add key="SquidexAppClientId" value="63087477e9709861980d3a61" />
    <add key="SquidexAppClientSecret" value="yajtnvhmr3lxrxmayzcnksw2quxvoot1nkh3g1rcxe0x" />
    <!-- Mini profiler settings -->
    <add key="AllowProfiler" value="true" />
    <add key="ProfilerShowTrivial" value="true" />
    <add key="ProfilerLogTimeLimit" value="0" />
    <!-- ERP 1C connection credentials -->
    <add key="Erp1CUser" value="UserSite" />
    <add key="Erp1CPassword" value="777" />
    <add key="DefaultClientId" value="УТ-00000002" />

    <!-- Email connection credentials -->
    <add key="EmailServerAddress" value="smtp.gmail.com" />
    <add key="EmailSMTPSPort" value="587" />
    <add key="EmailServerSSLEnable" value="true" />
    <add key="EmailUserName" value="smartitworks.mail@gmail.com" />
    <!--<add key="EmailPassword" value="wjgQ5xsVZ1" />-->
    <add key="EmailPassword" value="gcenabbldufkrzha" />
    <add key="MailFromName" value="Интернет-магазин Webmall" />

    <!-- Разрешение выполнять подбор авто по Laximo -->
    <add key="AllowLaximoAutoSelection" value="true" />
    <add key="LaximoAuthMode" value="Login" />
    <add key="LaximoLogin" value="info@motex.by" />
    <add key="LaximoPassword" value="TRyzLinVWWUn61pi" />
    <!--<add key="LaximoLogin" value="cs840579" />
    <add key="LaximoPassword" value="t8QgGD2FohN" />-->


    <!-- Настройки прайс-аггрегатора -->
    <add key="PriceAggregatorUrl" value="http://148.251.180.109:9004/" />



    <!-- Trash/unverified settings -->
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="CompanyName" value="TANAUTO" />
    <add key="defaultCulture" value="ru-RU" />
    <add key="phonePrefix" value="+373" />
    <add key="maxPhoneLength" value="8" />
    <add key="fixedPhonePrefix" value="+373" />
    <add key="maxFixedPhoneLength" value="15" />
    <add key="minFixedPhoneLength" value="0" />
    <add key="ContactEmail" value="support@automall.md" />
    <add key="BookingRequestManager" value="support@automall.md" />
    <add key="ContactRetailPhone" value="205-850" />
    <add key="ContactGrossPhone" value="1401" />
    <!-- Блок контактов для нового дизайна -->
    <add key="ContactPhone1" value="RU:14814 – Департамент по обслуживанию клиентов|MD:14814 – Департамент по обслуживанию клиентов (MD) | EN:14814 – Департамент по обслуживанию клиентов (EN)" />
    <add key="ContactPhone2" value="/+373 22/ 815-400 – Администрация" />
    <add key="ContactFax" value="/+373 22/ 815-405" />
    <!-- Блок JIVOSITE для нового дизайна -->
    <add key="JivositeId" value="" />
    <!-- Базовый ключ -->
    <!-- Блок Геопозиционирования -->
    <add key="GeoRegion" value="MD-CU" />
    <add key="GeoPlacename" value="Chișinău" />
    <add key="GeoPosition" value="47.042908;28.831805" />
    <add key="TitlePhone" value="15-01" />
    <add key="TitlePhoneText" value="звонок бесплатный, набирать без кода" />
    <!--<add key="GoogleAnalyticsAccount" value="UA-23865279-1" />
        <add key="GoogleConversionId" value="937737027" />
        <add key="YandexMetrikaAccount" value="33197243" />-->
    <add key="DefaultValute" value="398" />
    <add key="DefaultValuteName" value="KZT" />
    <add key="DefaultWarehouseId" value="1" />
    <add key="SummaryManager" value="Величко Иван Васильевич" />
    <add key="SummaryManagerPhone" value="22-22-22" />
    <add key="DeliveryDuration" value="90" />
    <add key="CachlessDeliveryOffset" value="34,5" />
    <add key="MistakeMessageReceivers" value="Serghei.Belyi@daac-system.md, Alexandr.Dascal@zzz.md" />
    <add key="SummaryCopy" value="Serghei.Belyi@dsi.md" />
    <add key="AllowCarouselMenu" value="false" />
    <add key="AllowAutoRegistration" value="true" />
    <add key="AllowJuridicalRegistration" value="true" />
    <add key="AllowVisa" value="true" />
    <add key="AllowWarehouseCashControl" value="true" />
    <add key="AllowLiqPay" value="true" />
    <add key="AllowDelivery" value="true" />
    <add key="AllowSupplyPanels" value="true" />
    <add key="AllowPromotionsMenu" value="true" />
    <add key="AllowEventsMenu" value="false" />
    <add key="AllowActionsMenu" value="false" />
    <add key="AllowSendToCartOnlyFromStock" value="false" />
    <add key="OnlyOnStockSelection" value="true" />
    <add key="DelayedFilterLoading" value="false" />
    <add key="Copyright" value="© &quot;SMART IT Works&quot; S.R.L." />
    <add key="Address" value="Moldova, Chisinau" />
    <add key="paymentTermsUrl" value="~/paymentTerms.aspx" />
    <add key="shippingTermsUrl" value="~/shippingTerms.aspx" />
    <add key="OriginalCatalogUseIframe" value="true" />
    <add key="useShippingDate" value="false" />
    <add key="useNeedTaxInvoice" value="true" />
    <add key="UserNameLatinOnly" value="false" />
    <add key="GenerateBrandGroups" value="true" />
    <add key="AccessManagerEmail" value="serghei.belyi@dsi.md" />
    <add key="AccessLogPath" value="c:\Temp\" />
    <add key="AllowWareOnlyInPresenceSelection" value="true" />
    <add key="UseCompactMultiselectView" value="true" />
    <!--<add key="SubscribeProcessSchedule" value="0/10 * * * * ?" />-->
    <add key="BaseUrl" value="http://localhost/ValmiStore" />
    <add key="NewsTrackerLength" value="4" />
    <!--Минимально возможная дата для акта сверки-->
    <add key="MinComparisionActDate" value="01.11.2015" />
    <!--Интервал ротации баннера на главной странице (сек)-->
    <add key="MainBannerRotateInterval" value="6" />
    <add key="JuridicalRegistrationPhone" value="(022) 815-420" />
    <add key="CaptchaSiteKey" value="6LfviAMTAAAAANv_bheEc7WH6D41QLXlPZRawbvY" />
    <add key="CaptchaSecretKey" value="6LfviAMTAAAAAIWybWqPYr0QNxGm1BXroWlghXmF" />
    <!--Ограничение по кол-ву запросов в минуту-->
    <add key="RequestsPerMinuteLimit" value="25000" />
    <!--<add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />-->
    <!--<add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
    <add key="ServiceBookingStartTime" value="10" />
    <add key="ServiceBookingEndTime" value="18" />
    <add key="PopularWareGroupId" value="8952" />
    <add key="TOWareGroupId" value="8953" />
    <add key="ShowWareIdInCard" value="true" />
    <add key="ShowWareCardForOrderOnlyButton" value="true" />
    <!--IP адреса для которых действует ограничение по сессии (через , или ;) -->
    <add key="SessionLimitIPs" value="127.0.0.1" />
    <!--Время ограничения сессии (секунды)-->
    <add key="SessionLimitTime" value="30" />
    <add key="allowTransmissionAct" value="true" />
    <!-- Laximo Settings -->
    <add key="AllowLaximo" value="true" />
    <!--<add key="DenyLaximoRetail" value="false" />
    <add key="AuthMode" value="Login" />
    <add key="Login" value="yq652531" />
    <add key="Password" value="6JHTiYBo1n" />-->
    <!-- VIN search Settings -->
    <!-- Ограничение поиска по VIN для авторизованных пользователей -->
    <add key="VinSearchLimitRegistered" value="10" />
    <!-- Ограничение поиска по VIN для неавторизованных пользователей -->
    <add key="VinSearchLimit" value="5" />
    <!--Reporting services and reports settings  -->
    <add key="ReportServer" value="http://laguna:8083/ReportServer" />
    <add key="RSUser" value="EBVService" />
    <add key="RSPassword" value="es1226ce" />
    <add key="RSDomain" value="OFFICE" />
    <add key="InvoiceReportName" value="/AutoMall/Invoice" />
    <add key="PentupDemandReportName" value="/AutoMall/PentupDemand" />
    <add key="ComparisionActReportName" value="/AutoMallTest/ComparisionAct" />
    <add key="EventTicketReportName" value="/AutoMall/EventTicket" />
    <add key="InvitationNumbersReportName" value="/AutoMall/InvitationNumbers" />
    <add key="EventVisitsReportName" value="/AutoMall/EventVisits" />
    <add key="TransmissionActReportName" value="/AutoMall/TransmissionAct" />
  </appSettings>
  <system.web>
    <!--<authentication mode="None" />-->
    <!--<machineKey validationKey="4595246C8C8C798F5A233FF6D3E44299ED24DEB161A7190DB86BADF4E5DC06C0" decryptionKey="362EC512360A666BBEA4798D894090ADD00261F2D88A1C4C" validation="SHA1" />-->
    <compilation debug="true" targetFramework="4.7.2" />
    <customErrors mode="Off" defaultRedirect="error.aspx" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="error404" />
      <error statusCode="500" redirect="error.aspx" />
    </customErrors>
    <httpRuntime targetFramework="4.5" maxQueryStringLength="10240" relaxedUrlToFileSystemMapping="true" />
    <authentication mode="Forms">
      <forms name="WebmallPlatform2Token" loginUrl="~/Security/LogOn" timeout="2880" />
    </authentication>
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" cacheControlCustom="public" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="false">
      <!--<add  name="ApiURIs-ISAPI-Integrated-4.0" path="/Auto/*"
         verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
         type="System.Web.Handlers.TransferRequestHandler"
         preCondition="integratedMode,runtimeVersionv4.0" />-->
    </modules>
    <handlers>
      <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="UrlRoutingHandler" type="System.Web.Routing.UrlRoutingHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" path="*/Auto/*" verb="GET" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
    <!--<rewrite>
      <rules>
        <rule name="RemoveTrailingSlashRule1" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
        <rule name="CanonicalHostNameRule1" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^tanauto\.kz$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://tanauto.kz:8081/{R:1}" />
        </rule>
        <rule name="LowerCaseRule1" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
        <rule name="http for clear cache" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="http://localhost/services.asmx" />
          <action type="None" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="order@tanauto.kz" deliveryMethod="Network">
        <network host="mail.tanauto.kz" port="25" userName="order@tanauto.kz" password="?Iue6u74" enableSsl="true" />
      </smtp>
    </mailSettings>
    <!--<mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" >
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\Emails" />
      </smtp>
    </mailSettings>-->
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.4.0.0" newVersion="6.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net debug="true">
    <root>
      <appender-ref ref="ErrFileAppender" />
    </root>
    <appender name="ErrFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="Logs\Log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p [%d] %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="https" binding="customBinding" bindingConfiguration="ITW_SiteIntegrationSoap12Binding" />
    </protocolMapping>
    <bindings>
      <basicHttpBinding>
        <binding name="ITW_SiteIntegrationSoapBinding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ITW_SiteIntegrationSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport authenticationScheme="Basic" maxReceivedMessageSize="6553500" />
          <!--<httpsTransport authenticationScheme="Basic" maxReceivedMessageSize="6553500"  />-->
          <!--<httpTransport authenticationScheme="Basic" maxReceivedMessageSize="6553500" proxyAddress="http://127.0.0.1:8888" useDefaultWebProxy="false" />-->
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://86.57.175.147:6502/AP_A/ws/ITW_SiteIntegration" binding="basicHttpBinding" bindingConfiguration="ITW_SiteIntegrationSoapBinding" contract="ERP_1C_ServiceReference.ITW_SiteIntegrationPortType" name="ITW_SiteIntegrationSoap" />
      <endpoint address="http://86.57.175.147:6502/AP_A/ws/ITW_SiteIntegration" binding="customBinding" bindingConfiguration="ITW_SiteIntegrationSoap12Binding" contract="ERP_1C_ServiceReference.ITW_SiteIntegrationPortType" name="ITW_SiteIntegrationSoap12" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>