#trening-carousel .jcarousel-wrapper .jcarousel-control-prev,
#trening-carousel .jcarousel-wrapper .jcarousel-control-next {
  margin-top: 0px;
}
#trening-carousel .jcarousel-wrapper .jcarousel-control-prev {
  background: url(../images/arrow-slider-image-left.gif) no-repeat left center;
  width: 13px;
}
#trening-carousel .jcarousel-wrapper .jcarousel-control-next {
  background: url(../images/arrow-slider-image-right.gif) no-repeat left center;
  width: 13px;
}
#trening-carousel .jcarousel-wrapper .jcarousel {
  width: 970px;
}
#trening-carousel .jcarousel-wrapper .jcarousel li {
  width: 320px !important;
  margin: 0px 2px;
}
#trening-carousel .jcarousel-wrapper .jcarousel li a {
  padding: 0px;
}
#compare-carousel .jcarousel-wrapper {
  margin: 0px auto 0px;
}
#compare-carousel .jcarousel-wrapper .jcarousel-control-prev,
#compare-carousel .jcarousel-wrapper .jcarousel-control-next {
  top: 150px;
  margin-top: 0px;
}
#compare-carousel .jcarousel-wrapper .jcarousel {
  width: 750px;
}
#compare-carousel .jcarousel-wrapper .jcarousel #wrapper-compare {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
#compare-carousel .jcarousel-wrapper .jcarousel #wrapper-compare div.compare-item {
  width: 187px !important;
  float: left;
  text-align: center;
}
#compare-carousel .jcarousel-wrapper .jcarousel #wrapper-compare div.compare-item .border {
  margin: 0px 3px 5px;
  padding: 5px 5px 10px;
  border: 1px solid #f1f1f1;
  height: 300px;
}
#compare-carousel .jcarousel-wrapper .jcarousel #wrapper-compare div.compare-item .border img {
  max-height: 120px;
  /*						max-width:113px;
*/
}
#compare-carousel .jcarousel-wrapper .jcarousel #wrapper-compare div.compare-item .border a {
  padding-top: 0px;
  display: block;
  color: #ff0000;
  text-decoration: underline;
  border-bottom: 1px dotted #BAB8B8;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#compare-carousel .jcarousel-wrapper .jcarousel #wrapper-compare div.compare-item .border a.warelink {
  text-decoration: initial;
  margin-bottom: 0;
}
#compare-carousel .jcarousel-wrapper .jcarousel #wrapper-compare div.compare-item .border b {
  color: #ff0000;
  font-weight: normal;
  margin: 5px 0px;
  display: inline-block;
}
#compare-carousel .jcarousel-wrapper .jcarousel #wrapper-compare div.compare-item .border h4 {
  text-transform: none;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  overflow: hidden;
}
#compare-carousel .jcarousel-wrapper .jcarousel #wrapper-compare div.compare-item .border p {
  text-align: center;
  font-size: 24px;
  border-bottom: 1px dotted #BAB8B8;
  padding-bottom: 7px;
  margin-bottom: 5px;
}
#compare-carousel .jcarousel-wrapper .jcarousel #wrapper-compare div.compare-item .border p span {
  font-size: 14px;
}
#compare-carousel .jcarousel-wrapper .jcarousel #wrapper-compare div.compare-item .border .button-submit {
  text-transform: uppercase;
  border-radius: 0px;
  margin-top: 5px;
}
#compare-carousel .jcarousel-wrapper .jcarousel #wrapper-compare div.compare-item .border .button-grey-gradient {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  background: #cacaca;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NhY2FjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2U4ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #cacaca 0%, #e8e7e7 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cacaca), color-stop(99%, #e8e7e7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cacaca 0%, #e8e7e7 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cacaca 0%, #e8e7e7 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cacaca 0%, #e8e7e7 99%);
  /* IE10+ */
  background: linear-gradient(to bottom, #cacaca 0%, #e8e7e7 99%);
  /* W3C */
  border: 1px solid #CACACA;
  padding: 5px 3px;
  cursor: pointer;
}
.jcarousel-wrapper {
  margin: 20px auto 15px;
  position: relative;
}
.jcarousel-wrapper .jcarousel {
  position: relative;
  overflow: hidden;
  width: 900px;
  margin: 0px auto;
}
.jcarousel-wrapper .jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel-wrapper .jcarousel li {
  text-align: center;
  width: 90px !important;
  float: left;
}
.jcarousel-wrapper .jcarousel li a {
  text-decoration: none;
  display: block;
  padding-top: 40px;
  background-position: center top;
  background-repeat: no-repeat;
}
.jcarousel-wrapper .jcarousel li a p {
  font: normal 11.5px "SegoeUISemiBold";
  text-align: center;
  margin: 0px;
  color: #2f2f2f;
}
.jcarousel-wrapper .jcarousel li a.specials {
  background-image: url(../images/GroupImages/specials.gif);
}
.jcarousel-wrapper .jcarousel li a.specials:hover {
  background-image: url(../images/GroupImages/specials-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.optics_body {
  background-image: url(../images/GroupImages/optics_body.gif);
}
.jcarousel-wrapper .jcarousel li a.optics_body:hover {
  background-image: url(../images/GroupImages/optics_body-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.item1 {
  background-image: url(../images/sign1.gif);
}
.jcarousel-wrapper .jcarousel li a.item1:hover {
  background-image: url(../images/sign1-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.item2 {
  background-image: url(../images/sign2.gif);
}
.jcarousel-wrapper .jcarousel li a.item2:hover {
  background-image: url(../images/sign2-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.item3 {
  background-image: url(../images/sign3.gif);
}
.jcarousel-wrapper .jcarousel li a.item3:hover {
  background-image: url(../images/sign3-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.item4 {
  background-image: url(../images/sign4.gif);
}
.jcarousel-wrapper .jcarousel li a.item4:hover {
  background-image: url(../images/sign4-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.item5 {
  background-image: url(../images/sign5.gif);
}
.jcarousel-wrapper .jcarousel li a.item5:hover {
  background-image: url(../images/sign5-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.item6 {
  background-image: url(../images/sign6.gif);
}
.jcarousel-wrapper .jcarousel li a.item6:hover {
  background-image: url(../images/sign6-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.item7 {
  background-image: url(../images/sign7.gif);
}
.jcarousel-wrapper .jcarousel li a.item7:hover {
  background-image: url(../images/sign7-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.item8 {
  background-image: url(../images/sign8.gif);
}
.jcarousel-wrapper .jcarousel li a.item8:hover {
  background-image: url(../images/sign8-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.item9 {
  background-image: url(../images/sign9.gif);
}
.jcarousel-wrapper .jcarousel li a.item9:hover {
  background-image: url(../images/sign9-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.item10 {
  background-image: url(../images/sign10.gif);
}
.jcarousel-wrapper .jcarousel li a.item10:hover {
  background-image: url(../images/sign10-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.item11 {
  background-image: url(../images/sign11.gif);
}
.jcarousel-wrapper .jcarousel li a.item11:hover {
  background-image: url(../images/sign11-hover.gif);
}
.jcarousel-wrapper .jcarousel li a.item12 {
  background-image: url(../images/sign12.gif);
}
.jcarousel-wrapper .jcarousel li a.item12:hover {
  background-image: url(../images/sign12-hover.gif);
}
.jcarousel-wrapper .jcarousel li a:hover p {
  color: #ff0000;
}
.jcarousel-wrapper .jcarousel-control-prev {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 10px;
  height: 19px;
  text-align: center;
  left: 10px;
  background: url(../images/arrow-left.gif) no-repeat left top;
}
.jcarousel-wrapper .jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 10px;
  height: 19px;
  text-align: center;
  text-decoration: none;
  right: 10px;
  background: url(../images/arrow-right.gif) no-repeat right top;
}
/*# sourceMappingURL=jcarousel.responsive.css.map */