@{
    Layout = null;
}

<div class="header__sticky sticky-header">
    <div class="container-fluid">
        <div class="sticky-header__main">
            <div class="logo sticky-header__logo">
                <span class="logo__wrap">
                    <img class="logo__img img-responsive" src="assets/images/logo.svg" alt="" width="190" height="60" role="presentation" />
                </span>
            </div>
        </div>
    </div>
</div>
