@using ViewRes
@model List<Webmall.Model.Entities.Catalog.WareProperty>
@{
    Layout = null;
}
@if (Model.Any())
{

    foreach (var el in Model)
    {
        <div class="spec-table__specifications-item">
        <dt class="spec-table__specifications-property">@el.Name</dt>
        <dd class="spec-table__specifications-value">@el.Value</dd>
        </div>
    }
}
else
{
    <div class="spec-table__specifications-item">@SharedResources.NoData</div>
}
