@using ViewRes
@*@model List<Webmall.Model.Entities.Auto.Applicability>
*@
@{
    Layout = null;
}

<div>@SharedResources.NoData</div>

@*@if (Model.Any())
{
    
}
else { 
    <div>@SharedResources.NoData</div>
}*@


